html {
    font-family: 'DynaPuff', cursive;
}

body {
    background-color: rgb(39, 37, 37);
    color: white;
}


.jts-css {
    width: 150px;
    height: 70px;
}

.cabecalho {
    background-color: rgb(25, 26, 26);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(241, 77, 13);

}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 5px;
    margin: 20px;
    font-size: 25px;
    background-color: rgb(174, 179, 179);
    border-radius: 20px;
    box-sizing: border-box;

}

.cabecalho .logo {
    display: inline-block;
    padding: 30px;

}

.efeito{
    border: none;
    color: #ffffff;
    padding: 20px;
    margin: 10px;
    font-size: 24px;
    line-height: 24px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 400ms ease;
           
}
.efeito-1:before{
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 16px;
    transition: all 2s ease;
}
.efeito-1:hover:before{
    width: 100%;
}


/* cabeçalho pronto  falta mudar cor do fundo escolher depois */
.container {
    display: flex;
    align-items: center;


}


.foto-heyder {
     width: 500px;
    height: 500px;
    padding: 30px 10px 0 80px;
    margin-right: 200px;

}

.descricao p {
      font-size: 40px;
    margin-right: 80px;
   
}

.eu{
    padding-left: 400px;
    padding-top: 50px;
}