html {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: var(--neutral-dark);
    color: white;
}

.container {
    display: flex;
    display: grid;
    width: 1895px;
    height: 100vh;
}

.jts-css {
    width: 150px;
    height: 70px;
}

.cabecalho {
    background-color: var(--neutral-soft);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(241, 77, 13);

}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 5px;
    margin: 20px;
    font-size: 25px;
    background-color: rgb(240, 225, 225);
    border-radius: 20px;
    box-sizing: border-box;


}

.cabecalho .logo {
    display: inline-block;
    padding: 15px;

}

."cabecalho nav li:hover {
     content: ''; 
    background-color: hsl(215, 49%, 82%);
     padding: 6px ;
    border-radius: 25px;
    transition: 0.5s ease; 

}

/* .btn {
    animation: scale-in-center .5s
} */


/* @keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1
    }

    100% {
        transform: scale(1);
        opacity: 1
    }
} */




.foto-heyder {
    width: 550px;
    height: 580px;
    float: right;
    padding: 100px 0 30px 0px;


}

.descricao-h {

    padding: 100px 10px 0 00px;
    font-size: 80px;
    text-align: justify;
    min-width: 320px;
    max-width: 900px;
}

.descricao-s {

    padding: 10px 0 0 0px;
    font-size: 35px;
    text-align: justify;
    min-width: 320px;
    max-width: 800px;
}



.botao-git {
    background-color: rgb(179, 180, 181);
    font-size: 40px;
    padding: 15px 10px;
    border-radius: 15px;
    width: 170px;
    height: 40px;
    color: #000;
    margin-left: 50px;
    padding-left: 10px;

}

.botao-link {
    background-color: rgb(136, 191, 240);
    font-size: 40px;
    padding: 15px 10px;
    border-radius: 15px;
    width: 190px;
    height: 40px;
    color: #ffff;
    margin-left: 150px;
}




.caixa-git-link {
    display: flex;
    justify-content: right baseline;
    padding-left: 50px;
}
.caixa-git-link :hover{
    background-color: rgb(111, 138, 247);
    border-radius: 20px;
}