* {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: rgb(39, 37, 37);
    color: white;
}

.container {
    display: flex;
    display: grid;
    width: 1895px;
    height: 100vh;
}

.jts-css {
    width: 150px;
    height: 70px;
}

.cabecalho {
    background-color: var(--neutral-soft);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(241, 77, 13);
    width: 1340px;
    height: 110px;

}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 5px;
    margin: 20px;
    font-size: 25px;
    background-color: rgb(174, 179, 179);
    border-radius: 20px;
    box-sizing: border-box;
    margin-top: 50px;
}

.cabecalho nav li:hover {
    content: '';
    background-color: hsl(215, 51%, 70%);
    padding: 4px 0px;
    max-width: 100%;
    border-radius: 10px;
    transition: 0.5s ease-in-out;

}

.cabecalho .logo {
    display: inline-block;
    

}



.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;

}

.conteudo img {
    margin: 80px 0 0 550px;
}

.conteudo h1 {
    margin: 50px 0 0 80px;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;

}