html {
    font-family: 'Public Sans', sans-serif;
}

body {
    background-color: var(--neutral-dark);
    color: white;
}

.container {
    display: flex;
    display: grid;
    width: 1895px;
    height: 100vh;
}

.jts-css {
    width: 150px;
    height: 70px;
}

.cabecalho {
    background-color: var(--neutral-soft);
    border-radius: 15px;
    border-style: solid;
    border-color: rgb(241, 77, 13);

}

.cabecalho nav {
    float: right;
}

.cabecalho nav li {
    display: inline-block;
    padding: 5px;
    margin: 20px;
    font-size: 25px;
    background-color: rgb(240, 225, 225);
    border-radius: 20px;
    box-sizing: border-box;


}

.cabecalho .logo {
    display: inline-block;
    padding: 15px;

}

.cabecalho nav li:hover {
     content: ''; 
    background-color: hsl(215, 49%, 82%);
     padding: 6px ;
    border-radius: 25px;
    transition: 0.5s ease; 

}

/* menu de navegação pronto 
*/

.container .foto-heyder {
    width: 700px;
    height: 700px;
    padding: 30px 10px 0 80px;
    margin-right: 200px;
    margin: 60px 100px 40px 20px;

}

.descricao p {
    font-size: 40px;
    margin-right: 80px;
    width: 700px;
}

.eu {
    padding-left: 400px;
    padding-top: 50px;
}