

@media (max-width: 1100px) { 
    .container{
        display: flex;
        display: inline-block;
        max-width: 1000px;
         padding: 0;
        margin: 0;
    }
    .container .foto-heyder {
        width: 400px;
        height: 400px;
        
        
             
    }
    .container .caixa-git-link .caixa-git p{
        font-size: 40px;
        
    }
    
 }
 

@media (max-width: 1024px){
    .container{
        display: flex;
        display: inline-block;
        width: 900px;
       max-height: 100vh; 
        padding: 0;
        margin: 0;
    }
    .container .foto-heyder {
       
        width: 300px;
        height: 300px;
        margin-right: 0 ;
                
    }
    
    .info .descricao-h{
        padding-left: 30px;
        font-size: 30px;
    }
    .info .descricao-s{
        padding-left: 30px;
        font-size: 25px;
    }

    .container .caixa-git-link p {
            margin: 0;
      
}
.container .caixa-git  {
    margin-left: 30px;
    font-size: 10px;
}

}

@media (max-width: 950px) { 
    .container{
        display: flex;
        display: inline-block;
        max-width: 300px;
        
        padding: 0px;
        margin: 0;
    }
    .container .foto-heyder{
        width: 350px;
        height: 350px;
        
                
    }
    
    .info .descricao-h{
       padding-left: 200px ;
       font-size: 45px;
    }

    .info .descricao-s{
        padding-left: 200px ;
        font-size: 20px;
    }

    .container .caixa-git-link{
        padding:30px 0  0 200px;
        margin-right: 6px;
 
 }

 .container .caixa-link{
    padding-left: 30px;
   
}
.container .caixa-git-link .caixa-git p{
    font-size: 20px;
   
}
.btns .cabecalho nav{
    display: flex;
    float: none;
    display: block;
}
 .cabecalho nav li{
    display: block;
      width: 90%;
}

  
 }


@media (max-width: 688px) { 
    .container{
        display: block;
        display: inline-block;
        max-width: 250px;
        padding: 0;
        margin: 0;
    }
    .container .foto-heyder{
        width: 350px;
        height: 350px;
                      
    }

    
    .container .info .descricao-h{
       padding: 50px 0 0 0 ;
       font-size: 45px;
    }

    .info .descricao-s{
        padding: 0;
        font-size: 20px;
    }

    .container .caixa-git-link{
        padding: 0;
 }
 .caixa-git-link .caixa-link{
    padding: 0;
    font-size: 10px;
}

.container .caixa-git{
    display: block;
}
.caixa-git-link .botao-link{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 25px;

}
.caixa-git-link .botao-git{
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    width: 100px;
    height: 25px;

}

.cabecalho{
    height: 350px;
    font-size: 20px;
    padding: 0;
    /* margin: 10px; */
}
 .cabecalho nav{
    float: none;
    display: block;
    
}
.cabecalho nav li{
    display: block;
    padding: 0;
    margin: 0;
    font-size: 10px;
    background-color:  aqua;
}
.cabecalho .logo{
    display: block;
    margin-left: 80px;
}
.botao{
    display: block;
    /* margin-left: 80px; */
    padding: 0;
    font-size: 10px;

}
.botao li{
    margin: 0;
    padding: 0;
    
}
.cabecalho .menu .botao li{
   
   padding: 0 85px ;
}


}